coverage==7.13.1
iniconfig==2.3.0
langdetect==1.0.9
mypy==1.18.2
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
pytest-cov==7.0.0
PyYAML==6.0.3
ruff==0.14.1
six==1.17.0
typing_extensions==4.15.0
